.chatList {
display: flex;
    justify-content: flex-start;
}
.side-bar {
    float: left;
    padding: 25px;
    width: 190px;
}
.addChat{
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}
.addChat:hover{
    background: grey;
}
.addChat:active{
    outline: none;
}