
.addChat{
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}
.addChat:hover{
    background: grey;
}
.addChat:active{
    outline: none;
}
.chatList {
    margin-left: 25px;
    padding: 5px 10px;
}