.title {
    width: 100%;
    height: 40px;
    background-color: #ccc;
    display: flex;
    font-size: 20px;
    justify-content: space-around;
    /*justify-content: center;*/
    align-items: center;
    margin-bottom: 30px;
}
.push{
    margin: 5px;
}
.push__image{
    width: 20px;
}