
.layout {
    width: 1000px;
    outline: 1px solid #ccc;
    padding: 10px;
    height: 100%;
    margin: auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.title {
    height: 77px;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-size: 22px;
}
.side-bar {
    float: left;
    padding: 25px;
    width: 190px;
}
.message-field {
    display: flex;
    flex-direction: column;
    height: 70%;
    width: 61%;
    padding: 20px;
    overflow-y: scroll;
    margin-left: 350px;
}
.message {
    background-color: white;
    padding: 5px 15px;
    font-size: 18px;
    font-weight: bold;
    margin: 5px;
}
.message-sender {
    color: lightslategrey;
    font-size: 12px;
}
.form-item {
    height: 77px;
    background-color: grey;
    margin-bottom: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.text {
    background-color: #cccccc;
}


